.wrapper {
    width: 100%;
    margin-bottom: 16px;
}
.label {
    width: 100%;
    display: inline-block;
}
.title {
    display: block;
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0.5rem;
}
.inputWrapper {
    position: relative;
    width: 100%;
}